<canvas id="canvas"></canvas>
<!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.55.2/phaser.js" integrity="sha512-ni9KCnVSgXhUiLZNWacoMz4DTCR4cRnxdnec/3VH+1woBhvm8mE/yu+KxytcG0igc2BIYnQL6u5+8jl7QczjOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.1.1/pixi.js" integrity="sha512-5pBBuvMDhne8yo0fG5+0tko77gksrKrl3I/qJtvpCdDNeskEz+8KumvwOdvKO+dAp9FAZjoj/nCqAZ04y1EeAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="game.mjs"></script>
<style>
.canvas {
    margin: "0";
    padding: "0";
    overflow: "hidden";
    position: "fixed";
    top: "0px";
    left: "0px";
}
</style>